  * {
            margin: 0px;
            padding: 0px;
        }
        .div-top{
          background-color: aquamarine;
          height: 20vh;
          width: 100vw;
          text-align:center;
          border: 2px black dashed
        }
        #contenedor{
            display: flex;
        }
        .div-left{
            background-color: lightgreen;
            height: 60vh;
            width: 30vw;
            float: left;
            text-align:center;
            border-radius: 2%;
            border: 2px red groove;
        }
        .div-right{
            background-color: lightpink;
            height: 60vh;
            width: 60vw;
            float: right;
            text-align:center;
            border: 7px blue inset;
            border-radius: 5%;
        }
        .div-bottom{
            background-color: yellow;
            height: 20vh;
            width: 90vw;
            text-align:center;
            border: 5px pink groove;
            border-radius: 3%;
        }