 *{
            margin: 0px;
            padding: 0px;
        }
        .body{
            color: white;
            text-align: center;
            align-items: center;
            justify-content: center;
            overflow: auto;
            display: flex;
            margin: auto;
        }
        .sociales{
            margin-left: auto;
            margin-right: 20px;
            display: flex;
            gap: 15px;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;
            text-decoration: none;  
        }
        .asoci{
            color: white;
            text-decoration: none;
            font-size: 18px;
            font-family: 'Poppins', sans-serif;
        }
        .head{
            background-color: black;
            height: 10vh;
            width: 100vw;
            display: flex;
            margin-bottom: 20px;
            overflow: auto;
        }
        .nav{
            background-color: lightgrey;
            height: 7vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            cursor: pointer;
        }
        .ul{
            list-style-type: none;
            display: flex;
            gap: 20px;
            margin-left: 20px;
            align-items: center;
            justify-content: center;
            text-align: center;
             cursor: pointer;
        }
        .a{
            color: black;
            text-decoration: none;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        .middle{
            display: flex;
        }
        .aside{
            background-color: grey;
            height: 55vh;
            width: 30vw;
            float: left;
            margin: auto;
            margin-top: 10px;
        }
        .translate{
            margin: 20px;
            padding: 10px;
            background-color: lightgrey;
            border-radius: 5px;
            overflow: auto;
        }
        .maps{
            margin: 20px;
            border: 5px solid lightgrey;
            border-radius: 5px;
            width: 90%;
            height: 60%;
            overflow: auto;
            float: left;
        }
        .middle{
            display: flex;
            margin-bottom: 20px;
        }
        .main{
            background-color: grey;
            height: 50vh;
            width: 60vw;
            float: right;
            margin: auto;
            overflow: auto;
        }
        .details{
            margin: 20px;
            padding: 10px;
            background-color: lightgrey;
            border-radius: 5px;
            cursor: pointer;
            overflow: auto;
        }
        .footer{
            background-color: black;
            height: 20.2vh;
            width: 100vw;
            margin: auto;
            justify-content: center;
            display: flex;
            text-align: center;
            align-items: center;
            overflow: auto;
        }
        #fechaHora{
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
            color: white;
            margin: auto;
            text-align: center;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .button{
            padding: 10px 20px;
            font-size: 16px;
            background-color: lightgrey;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: auto;
            display: block;
        }
        .button:hover{
            background-color: darkgrey;
        }